<div class="container">
<br>
<%= link_to 'Quest Home', quests_path, class:'btn waves-effect waves-light indigo' %>
<br>
<h4>Edit Quest</h4>

<%= form_for @quest do |f| %>


	<div class="input-field col s6">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="input-field col s6">
		<%= f.label :start, "Date" %>
		<%= f.date_field :start,{class: 'datepicker'} %>
	</div>

	<div class="field col s6">
		<%= f.label :start, "Time (HH:MM)" %>
		<%= f.time_field :start, :ignore_date => true %>
	</div>

	<div class="input-field col s6">
		<%= f.label :description, "Short Description" %>
		<%= f.text_field :description %>
	</div>

	<div class="input-field col s6">
		<%= f.label :invite_msg, "Invite Message (e.g. starting point, what to wear, what to bring, etc.)" %>
		<%= f.text_field :invite_msg %>
	</div>

	<div class="input-field col s6">
		<%= f.label :start_msg, "Start Message (this is not visible until the quest is active)" %>
		<%= f.text_field :start_msg %>
	</div>

	<div class="input-field col s6">
		<%= f.label :final_msg, "Final Message (Congratulate them & tell them where to go next!)" %>
		<%= f.text_field :final_msg %>
	</div>

	<%= f.submit class:'btn waves-effect waves-light indigo' %>
	</div>

	<% end %>
</div>
