<p id="notice"><%= notice %></p>

<h4>Quests As QM</h4>

<table class="highlight bordered ">
  <thead>
    <tr>
      <td>Name</td>
      <td>Quest Id</td>
      <td>Quest Date</td>
      <td>Quest Time</td>
      <td>User Id</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @questmaster.each do |quest| %>
      <tr>
        <td><strong><%= quest.name %></strong></td>
        <td><%= quest.id %></td>
        <td><%= quest.start.strftime("%Y-%m-%d") %></td>
        <td><%= quest.start.strftime("%l:%M %P") %></td>
        <td><%= quest.user_id %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

<h4>Quest as Participant</h4>
    <table class=" highlight bordered centered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Quest Id</td>
          <td>Quest Date</td>
          <td>Quest Time</td>
          <td>User Id</td>
          <th colspan="3"></th>
        </tr>
      </thead>

    <% @participant.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= quest.id %></td>
        <td><%= quest.start.strftime("%Y-%m-%d") %></td>
        <td><%= quest.start.strftime("%l:%M %P") %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quest', new_quest_path %>
<%= link_to 'Log Out', logout_path, method: "delete" %>
