<p id="notice"><%= notice %></p>

<h4>Quests I've Created:</h4>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Quest Id</td>
      <td>Quest Date</td>
      <td>User Id</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @questmaster.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= quest.id %></td>
        <td><%= quest.start %></td>
        <td><%= quest.user_id %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to 'Create a Quest', new_quest_path %>


<p>*******************************************</p>

<h4>Quests I'm Participating In:</h4>

    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Quest Id</td>
          <td>Quest Date</td>
          <td>User Id</td>
          <th colspan="3"></th>
        </tr>
      </thead>

    <% @participant.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= quest.id %></td>
        <td><%= quest.start %></td>
        <td><%= quest.user_id %></td>
        <td><%= link_to 'Show', quest %></td>
        <!-- <td><%= link_to 'Edit', edit_quest_path(quest) %></td> -->
        <!-- <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Log Out', logout_path, method: "delete" %>
