<br>
<%= link_to 'New Quest', new_quest_path, class:'waves-effect waves-light btn indigo' %>

<h4>Quests I've Created:</h4>

<table class="highlight bordered ">
  <thead>
    <tr>
      <td>Name</td>
      <td>Date</td>
      <td>Time</td>
      <th></th>

    </tr>
  </thead>

  <tbody>

    <% @questmaster.each do |quest| %>
      <tr>
        <td><strong><%= quest.name %></strong></td>
        <td><%= quest.start.strftime("%B %d") %></td>
        <td><%= quest.start.strftime("%l:%M %P") %></td>
        <td>
          <!-- Dropdown Trigger -->
          <a class='dropdown-button btn indigo' href='#' data-activates='dropdown1'>Options</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><%= link_to 'Show', quest %></li>
            <li class="divider"></li>
            <li><%= link_to 'Edit', edit_quest_path(quest) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure? Once you destroy a quest it is gone forever!' } %></li>
          </ul>
          </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <h4>Quests I'm Participating In:</h4>
    <table class=" highlight bordered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Quest Date</td>
          <td>Quest Time</td>
          <th></th>
        </tr>
      </thead>

    <% @participant.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= quest.start.strftime("%B %d") %></td>
        <td><%= quest.start.strftime("%l:%M %P") %></td>
        <td>
          <!-- Dropdown Trigger -->
          <a class='dropdown-button btn indigo' href='#' data-activates='dropdown2'>Options</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown2' class='dropdown-content'>
            <li><%= link_to 'Show', quest %></li>
          </ul>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
