<div class="container">
<br>
<%= link_to 'New Quest', new_quest_path, class:'waves-effect waves-light btn indigo' %>

<h4>Quests I've Created:</h4>

<table class="highlight bordered ">
  <thead>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Time</strong></td>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @questmaster.each do |quest| %>
      <tr>
        <td><strong><%= quest.name %></strong></td>
        <td><strong><%= quest.start.strftime("%B %d") %></strong></td>
        <td><strong><%= quest.start.strftime("%l:%M %P") %></strong></td>
        <td>
          <!-- Dropdown Trigger -->
          <a class='dropdown-button btn indigo' href='#' data-activates='dropdown1'>Options</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><%= link_to 'Show', quest %></li>
            <li class="divider"></li>
            <li><%= link_to 'Edit', edit_quest_path(quest) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure? Once you destroy a quest it is gone forever!' } %></li>
          </ul>
          </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <h4>Quests I'm Participating In:</h4>
    <table class=" highlight bordered">
      <thead>
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>Quest Date</strong></td>
          <td><strong>Quest Time</strong></td>
          <th></th>
        </tr>
      </thead>
    <% x=0%>
    <% @participant.each do |quest| %>
      <tr>
        <td><strong><%= quest.name %></strong></td>
        <td><strong><%= quest.start.strftime("%B %d") %></strong></td>
        <td><strong><%= quest.start.strftime("%l:%M %P") %></strong></td>
        <td>
          <!-- Dropdown Trigger -->
          
          <% if quest.start > @time %>
            <!-- Dropdown Structure -->
            <ul >
              
              <li><a class= "waves-effect waves-light btn indigo" href="#modal_invite">See Invite message</a></li>
            </ul>
          <% else %>
            <!-- Dropdown Structure -->
            <ul >
              <li><%= link_to 'Start the Quest!', quests_showtime_path(quest), class: 'waves-effect waves-light btn indigo' %></li>
            </ul>
          <% end %>
        </td>
      </tr>
      <% x+=1 %>
      <!-- Modal Structure -->
  <div id="modal_invite" class="modal">
    <div class="modal-content">
      <h4>Invite message</h4>
      <p><%= quest.invite_msg %></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <% end %>
  </tbody>
</table>
</div>