<h1> Quest</h1>
<%= form_for @quest do |f| %>

	<div class="input-field col s6">
        <!-- <input id="last_name" type="text" class="validate">      
        <label for="last_name">Last Name</label> -->
        <%= f.text_field :name,{class: 'validate'} %>
        <%= f.label :name %>
    </div>
	<div class="input-field col s6">
		<%= f.label :start %>
		<%= f.date_field :start,{class: 'datepicker'} %>
	</div>
	<div class="field col s6">
		<%= f.label :start, "HH:MM" %>
		<%= f.time_field :start, :ignore_date => true %>
		
	</div>
	
	<div class="input-field col s6">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<div class="input-field col s6">
		<%= f.label :invite_msg %>
		<%= f.text_field :invite_msg %>
	</div>
	<div class="input-field col s6">
		<%= f.label :start_msg %>
		<%= f.text_field :start_msg %>
	</div>
	<div class="input-field col s6">
		<%= f.label :final_msg %>
		<%= f.text_field :final_msg %>
	</div>

	<%= f.submit class:'btn waves-effect waves-light'%>
	</div>

	<% end %>

	<%= link_to 'Log Out', logout_path, method: "delete" %>
