<h1> Quest</h1>
<%= form_for @quest do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :start %>
		<%= f.datetime_field :start %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :invite_msg %>
		<%= f.text_field :invite_msg %>
	</p>
	<p>
		<%= f.label :start_msg %>
		<%= f.text_field :start_msg %>
	</p>
	<p>
		<%= f.label :final_msg %>
		<%= f.text_field :final_msg %>
	</p>

	<%= f.submit %>
	</p>

	<% end %>

	<%= link_to 'Log Out', logout_path, method: "delete" %>
