<p id="notice"><%= notice %></p>

<p>Quest Name: <%= @quest.name %></p>
<p></p>
<p>Quest Date: <%= @quest.start.strftime("%Y-%m-%d")%> </p>
<p></p>
<p>Quest Time: <%= @quest.start.strftime("%l:%M:%S %P")%></p>
<p></p>
<p>Invite Message: <%= @quest.invite_msg %></p>
<p></p>
<p>Start Message: <%= @quest.start_msg %></p>
<p></p>
<p>Final Message: <%= @quest.final_msg %></p>
<p></p>
<%= link_to 'Add Participants',{}, class: 'waves-effect waves-purple btn-large' %>
<p></p>

<%= link_to 'Add Task', new_task_path(@quest) %> |
<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
