<p id="notice"><%= notice %></p>

<p>Quest Name: <%= @quest.name %></p>
<p></p>
<p>Quest Date: <%= @quest.start.strftime("%Y-%m-%d")%> </p>
<p></p>
<p>Quest Time: <%= @quest.start.strftime("%l:%M:%S %P")%></p>
<p></p>
<p>Invite Message: <%= @quest.invite_msg %></p>
<p></p>
<p>Start Message: <%= @quest.start_msg %></p>
<p></p>
<p>Final Message: <%= @quest.final_msg %></p>
<p></p>
<p>Total Tasks: <%= @quest.tasks.size %></p>
<p></p>
<p>Participants: <% @participants.each do |n| %>
                <br>  <%= n %>
                  <% end %>

</p>
<p></p>

<%= link_to 'Add Participant', users_invite_path(@quest) %> |
<%= link_to 'Add Task', new_task_path(@quest) %> |
<%= link_to 'Edit Tasks', task_path(@quest) %> |
<%= link_to 'Edit Quest', edit_quest_path(@quest) %> |
<%= link_to 'Quest Home', quests_path %>
