<h4><%= @quest.name%></h4>
<a href="" id="show_img">wdkjgs</a>
<% @quest.tasks.each do |task| %>
  <% i=0%>
  <% card ="card#{i}" %>
	<div class="card quest">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag 'COYO-Taco-10.jpg', width: "337"%>
      <!-- <img class="activator" src="images/office.jpg"> -->
    </div>
    <div class="card-content">
      <h4><%= task.name %></h4>
      <span id="my_image" class="card-title activator grey-text text-darken-4"><i class="medium material-icons right" >help</i></span>
  	  <span><%= task.description %></span><br>
  	  <span><%= task.description %></span>
  	  <span><%= task.description %></span><br>
  	  <span><%= task.description %></span><br>
  	  <span><%= task.description %></span><br>
  	  <span><%= task.description %></span><br>
      
      <p><%= label_tag %></p>
    </div>
    <div class="card-reveal centered">
    	<%= image_tag 'ben-white-178537.jpg', width: '324'%>
      <span class="card-title grey-text text-darken-4">New Clue<i class="material-icons right">close</i></span>
      <p><%= task.clue1 %></p>
    </div>
  </div>
  <% i+=1%>
	<% end -%>