<div class="container">
<h5><%= @quest.name%></h5>
<div class="initial_box">
  <h5>Are you Ready??</h5>
  <p id ="description"><%= @quest.start_msg %></p>
  <%= image_tag 'ready.gif', width: "303"%>
</div>

<!-- Loop for totals tasks in a Quests -->
<% @quest.tasks.each do |task| %>
 <div class="quest">
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <div class="coyo"><%= image_tag 'COYO-Taco-10.jpg', width:'337'%></div>
      <!-- <img class="activator" src="images/office.jpg"> -->
    </div>
    <div class="card-content">
      <h4><%= task.name %></h4>
      <div class="help"><span id="my_image" class="card-title activator grey-text text-darken-4"><i class="medium material-icons right" >help</i></span></div>
  	  <span><%= task.description %></span><br>
  	  <div class="field col s6">
        <%= label_tag 'answer', 'Answer'%>
        <div class="resp"><%= text_field_tag "answer" %></div>
        <%= hidden_field_tag "id", task.id %>
        <%= hidden_field_tag 'taskanswer', task.answer %>
        <%= hidden_field_tag 'timer', task.clue_timer %>
        <a href="#modal1" id="x" class="waves-effect waves-light btn indigo check_answer">check Answer </a>
        
        <a href ="#modal_skip" class="btn waves-effect indigo waves-light skip-task " >Skip Task<i class="material-icons right">skip_next</i>
        </a>
      </div>
    </div>
    <div id="modal_skip" class="modal">
    <div class="modal-content skip">
      <%= image_tag 'wrong_answer_khart.gif', width: '252' %>
      <h4><%= task.skip_comment%></h4>
      
    </div>
    <div class="modal-footer skip">
      <a href="#!" class="modal-action modal-close waves-effect waves-indigo btn-flat " >No, I will go on!</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-indigo btn-flat " >Skip</a>
    </div>
  </div>
    <div class="card-reveal centered">
    	<%= image_tag 'ben-white-178537.jpg', width: '289'%>
      <span class="card-title grey-text text-darken-4">New Clue<i class="material-icons right">close</i></span>
      <div class="clue"></div>
      <p><%= task.clue1 %></p>
    </div>
  </div>
  
 </div> 
 <!-- Modal Structure For right and wrong answers -->
  <div id="modal1" class="modal">
    <div class="modal-content right1">
      <%= image_tag 'Leo-Congrats.gif', width: '252'%>
      <h4>Great Job </h4>
      <p><%= task.answer_comment %></p>
    </div>
    <div class="modal-footer right1">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" >Close</a>
    </div>
    <div class="modal-content wrong">
      <%= image_tag 'Marty-McFly.gif', width: '252' %>
      <h4>Too bad </h4>
      <p>That is not the correct answer try again</p>
    </div>
    
    <div class="modal-footer wrong">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" >Ok</a>
    </div>
  </div>
	<% end -%>
  
  <a href="#" id="show_img" class="waves-effect indigo waves-light btn ">Start Quest </a>
  
  <!-- Completing the quest Message -->
  <div class="message">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag 'congrats2.gif', width: "289"%>
      <!-- <img class="activator" src="images/office.jpg"> -->
      <strong><%= @quest.final_msg %></strong>
    </div>
  </div>
  <!-- Link To quests index page -->
  <div class="home1234"><%= link_to 'Go to your Quests', quests_path, class: 'waves-effect waves-light btn indigo' %></div>
</div>
  
  

  