<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <td>Quest Id</td>
      <td>Name</td>
      <td>Number</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td> <%= task.quest.id %> </td>
        <td> <%= task.name %> </td>
        <td> <%= task.id %> </td>
        <td><%= link_to 'Show', quest_task_path(task.quest, task) %></td>
        <td><%= link_to 'Edit', edit_quest_task_path(task.quest, task) %></td>
        <td><%= link_to 'Destroy', [task.quest, task], method: :delete, data: { confirm: 'Are you sure? When you delete a Task, it is gone forever!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_quest_task_path %>
<%= link_to 'Quest Home', quests_path %>
