<p id="notice"><%= notice %></p>

<h4><%= @quest.name %></h4>

<table>
  <thead>
    <tr>
      <td>Task Name</td>
      <td>Number</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td> <%= task.name %> </td>
        <td> <%= task.id %> </td>
        <td>
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn indigo' href='#' data-activates='dropdown1'>Options</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
        <li><%= link_to 'Show', quest_task_path(task.quest, task) %></li>
        <li><%= link_to 'Edit', edit_quest_task_path(task.quest, task) %></li>
        <li><%= link_to 'Destroy', [task.quest, task], method: :delete, data: { confirm: 'Are you sure? When you delete a Task, it is gone forever!' } %></li>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_quest_task_path, class: 'waves-effect indigo btn' %>
<%= link_to 'Back to Quest', quest_path(@quest), class: 'waves-effect indigo btn' %>
<%= link_to 'Quest Home', quests_path, class: 'waves-effect indigo btn' %>
