<h1> Task</h1>
<%= form_for [@quest, @task] do |f| %>

<p><strong> <%= @task.quest.name %> </strong></p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</p>

  <p>
		<%= f.label :clue1 %>
		<%= f.text_field :clue1 %>
	</p>

  <p>
    <%= f.label :clue2 %>
    <%= f.text_field :clue2 %>
  </p>

  <p>
    <%= f.label :clue3 %>
    <%= f.text_field :clue3 %>
  </p>

	<p>
		<%= f.label :clue_timer %> (minutes)
		<%= f.number_field :clue_timer %>
	</p>

  <p>
		<%= f.label :answer %>
		<%= f.text_field :answer %>
	</p>

  <p>[insert a checkbox here confirm if answer must be an exact match]</p>

	<p>
		<%= f.label :answer_comment %>
		<%= f.text_field :answer_comment %>
	</p>
	<p>
		<%= f.label :skip_comment %>
		<%= f.text_field :skip_comment %>
	</p>

<p>There is a hidden field here that lists the quest_id, but idk how it works</p>
	<p>
		<%= f.text_field :quest_id %>
	</p>

	<p>The submit link doesn't go anywhere and this form doesn't assign a quest_id to this task</p>

	<%= f.submit %>
	</p>

	<% end %>

	<%= link_to 'Return to Quest', quests_path(@quest) %>
