<h3><%= @task.quest.name%></h3>
<h6>Create a Task</h6>

<%= form_for [@quest, @task] do |f| %>

	<div class = "input-field col s6">

		<%= f.label :name, "Task Name (Have fun & be clever!)" %>
		<%= f.text_field :name %>
	</div>

	<div class = "input-field col s6">
		<%= f.label :description, "Task" %>
		<%= f.text_field :description %>
	</div>

  <div class = "input-field col s6">
		<%= f.label :clue1, "Clue 1" %>
		<%= f.text_field :clue1 %>
	</div>

  <div class = "input-field col s6">
    <%= f.label :clue2, "Clue 2" %>
    <%= f.text_field :clue2 %>
  </div>

  <div class = "input-field col s6">
    <%= f.label :clue3, "Clue 3" %>
    <%= f.text_field :clue3 %>
  </div>

	<div class = "input-field col s6">
		<%= f.label :clue_timer, "Timer (Minutes- this is when the clues will pop up!)" %>
		<%= f.number_field :clue_timer %>
	</div>

  <div class = "input-field col s6">
		<%= f.label :answer, "Answer/Solution to Complete this Task" %>
		<%= f.text_field :answer %>
	</div>

  <div class = "input-field col s6">
		<%= f.label :answer_check, "Exact Answer? (true/false- If the answer must be exact, enter 'true')" %>
		<%= f.text_field :answer_check %>
		<%#= f.label :answer_check %>
		<%#= f.check_box :answer_check, :class => "checkbox-class" %>
		<%#= f.check_box :answer_check, :task_id => "answer_check_checkbox" %>
		<!-- <%#= check_box_tag :answer_check, 'true', is_checked? %> -->
	</div>

	<div class = "input-field col s6">
		<%= f.label :answer_comment, "Correct Answer Comment (This pops up after a correct answer is submitted)" %>
		<%= f.text_field :answer_comment %>
	</div>
	<div class = "input-field col s6">
		<%= f.label :skip_comment, "Skip Task Comment (This pops up when the skip task button is selected)" %>
		<%= f.text_field :skip_comment %>
	</div>

<div class = "input-field col s6"></div>
	<div class = "input-field col s6">
		<%= f.hidden_field :quest_id %>
	</div>

	<div class = "input-field col s6"></div>

	<%= f.submit 'Add Task',class:'btn waves-effect indigo'%>
	<%= link_to 'Return to Quest', quest_path(@quest), class: 'btn waves-effect indigo' %>
	<%= link_to 'Quest Home', quests_path, class:'collection-item btn indigo' %>
	</div>

	<% end %>
