<p><strong>Quest Name: </strong><%= @task.quest.name %></p>
<p></p>
<p><strong>Task name: </strong><%= @task.name %></p>
<p></p>
<p><strong>Task: </strong><%= @task.description %></p>
<p></p>
<p><strong>Clue 1: </strong><%= @task.clue1 %></p>
<p></p>
<p><strong>Clue 2: </strong><%= @task.clue2 %></p>
<p></p>
<p><strong>Clue 3: </strong><%= @task.clue3 %></p>
<p></p>
<p><strong>Clue Timer: </strong><%= @task.clue_timer %> min.</p>
<p></p>
<p><strong>Answer: </strong><%= @task.answer %></p>
<p></p>
<p><strong>Exact Answer Required: (true/false) </strong><%= @task.answer_check %></p>
<p></p>
<p><strong>Correct Answer Comment: </strong><%= @task.answer_comment %></p>
<p></p>
<p><strong>Skip Task Comment: </strong><%= @task.skip_comment %></p>
<p></p>

<%= link_to 'Add Task', new_quest_task_path, class:'waves-effect waves-light btn indigo' %>
<%= link_to 'Edit Tasks', quest_tasks_path, class:'waves-effect waves-light btn indigo' %>
<%= link_to 'Return to Quest', quest_path(@quest), class:'waves-effect waves-light btn indigo' %>
<%= link_to 'Quest Home', quests_path(@quest), class:'waves-effect waves-light btn indigo' %>
