<h4> Invite Participants</h4>

<%= form_for @user do |f| %>

  <% f.hidden_field :quest_id, value: params[:format] %>

  <div class="input-field col s6">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="input-field col s6">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="input-field col s6">
		
		<%= f.password_field :password %>
	</div>

	<div class="input-field col s6">
	<%= f.submit 'Send Invitation', class: 'btn waves-effect waves-light' %>
	</div>

	<% end %>
