<!DOCTYPE html>
<html>
  <head>
    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  	<!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!--Import Google Roboto Font-->
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <!-- Import Google Tauri and Carter One Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Carter+One|Tauri" rel="stylesheet">
    <!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>aq1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header class="header indigo z-depth-1">
   <nav>
      <div class="nav-wrapper indigo">
        <a href="#!" class="brand-logo">Amazing Quest</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">

          <% if !current_user%>
            <li><%= link_to 'Create an Account', new_user_path,class:'waves-effect'  %></li>
            <li><%= link_to 'Login', new_session_path,class:'waves-effect' %></li>
          <% else %>
            <li><%= link_to current_user.name, quests_path %></li>
            <!-- SHANNAN COMMENT: We need a way to update User Profiles  -->
            <!-- <li><%#= link_to 'Edit Profile', edit_user_path(:user_id) %></li> -->
            <li><%= link_to 'Log Out', logout_path, method: "delete",class:'waves-effect' %></li>
            <li class="divider"></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="mobile-text"><strong>Amazing Quest</strong></li>
          <li class="divider"></li>
          <% if !current_user%>
            <li><%= link_to 'Create an Account', new_user_path,class:'waves-effect' %></li>
            <li class="divider"></li>
            <li><%= link_to 'Login', new_session_path,class:'waves-effect' %></li>
          <% else %>
            <li><%= link_to "Welcome #{current_user.name}", quests_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Log Out', logout_path, method: "delete", class:'waves-effect' %></li>
            <li class="divider"></li>
          <% end -%>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>

<!-- SHANNAN COMMENT: this Div is here to try to clear out some coding to get the footer to the bottom -->
<!-- <div style="clear: both"></div> -->

<!-- SHANNAN COMMENT: This code is directly from the Materialize site. Not sure why it's not working -->
  <!-- <footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h6 class="white-text">We love feedback! Tag us on social media at #AmazingQuestCo or send us an email with details about
               your quest experience or features you'd love to see in this app. You can reach us at amazingquestco@gmail.com.</h6>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Get Social!</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="http://www.amazingquest.co">Amazing Quest</a></li>
                 <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/Amazing-Quest-235674516940851/">Facebook</a></li>
                 <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/amazingquestco/">Instagram</a></li>
                 <li><a class="grey-text text-lighten-3" href="https://twitter.com/amazingquestco">Twitter</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2017 Copyright Amazing Quest, All Rights Reserved.
           <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
           </div>
         </div>
       </footer> -->
</html>
